body {
  margin:0px;
}
a {
  color:black;
  text-decoration: none;
}
h1 {
  text-align:center;
  border-bottom:3px solid black;
  margin:0px;
  padding:20px;
}
#grid {
  display:grid;
  grid-template-columns: 200px 1fr;
}
#grid ol {
  border-right:1.5px solid black;
  width:150px;
  margin:0px;
  padding-left:40px;
  padding-top:20px;
}
#article {
  padding-left: 25px;
}
/* #night {
  position: absolute;
  left:50px;
  top:30px;
}
#day {
  position: absolute;
  left : 10px;
  top:30px;
} */
#night_day {
  position:absolute;
  left: 30px;
  top: 30px;
  width:80px;
}
#scroll_test {
  display:block;
}
@media(max-width:800px) {
  #grid {
    display:block;
  }
  #grid ol {
    display:block;
    border-right:none;
  }
}
